@import url('https://fonts.googleapis.com/css2?family=Candal&family=Comfortaa:wght@300&family=DM+Serif+Text:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #bea7ff;
    font-family: "Comfortaa", sans-serif;
    text-decoration: line;
}

.area {
    background-color: #3614b1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #000133;
    width: 30rem;
    height: 40rem;
    padding: 2.5rem 2.5rem 2rem 2.5rem ;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
}

.status {
    background-color: 000133;
    width: 100%;
    height: 10rem;
    border: 1px solid #7c4ffa;
    border-radius: 2rem;
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-info h1 {
    font-family: "DM Serif Text", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgb(227, 202, 255);
}

.status-track-bar {
    background-color: #240088;
    width: 13rem;
    height: 0.5rem;
    border-radius: 2rem;
    margin: 1rem 0rem;
}

.progress-bar {
    width: 4%;
    height: 100%;
    border-radius: 2rem;
    background-color: #00d123;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.status-track-fac {
    background-color: #7c4ffa;
    width: 7rem;
    height: 7rem;
    padding: 2rem;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addtask {
    /* height: 100%; */
    /* error */
    display: flex;
    align-items: center;
    padding: 1.5rem 0.5rem;
}

.addtask form {
    width: 100%;
}

.addtask input {
    width: 100%;
    padding: 0.8rem;
    background-color: #220061;
    border-radius: 0.8rem;
    border: 1px solid #471ac2;
    outline: none;
}
.addtask input:hover {
    border: 1px solid #6831ff;
}

.addtask input:focus {
    border: 1px solid #6831ff;
    background-color: #2a056d;
}

#create-button {
    font-size: 2.6rem;
    padding: 0.2rem;
    color: #2f32f5;
}

#create-button:hover {
    color: #3755ff;
    cursor: pointer;
}

.all-lists {
    /* width: 100%; */
    height: 100%;
    padding: 0rem 0.5rem;
    overflow: hidden;
    position: relative;
}
.all-lists ul {
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.li-pending {
    display: flex;
    align-items: center;
    background-color: #220061;
    border: 1px solid #471ac2;
    padding: 0.5rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.li-completed {
    display: flex;
    align-items: center;
    background-color: #360000;
    border: 1px solid #c21a1a;
    padding: 0.5rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.all-lists ul li span {
    width: 100%;
    font-size: 1rem;
    margin: 0.6rem 0.3rem;
    overflow-wrap: anywhere;
}

.all-lists>ul li i {
    margin: 0.6rem 0.3rem;
}

.shade {
    background-color: #5738c9;
    height: 2rem;
    width: 100%;
    background: linear-gradient(to bottom, #00013300, #00013393, #000133);
    position: absolute;
    bottom: 0;
}

.check-mark {
    color: #00c500;
}
.check-mark:hover {
    color: #00ff00;
}

.edit-button {
    color: #8a628f;
}
.edit-button:hover {
    color: #bb96c0;
}

.delete-button {
    color: #ca2424;
}
.delete-button:hover {
    color: #ff2e2e;
}

.text-completed {
    text-decoration: line-through;
}